<div class="container-fluid anchor pb-5 achievements-section"
  id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
  <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container">
    <div class="row" id="talks-holder">
      {{ range .talks }}
      <div class="col-sm-12">
        <ul>

          <!-- <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
            risus
            varius blandit.</p>
          <small>Donec id elit non mi porta.</small> -->
          <li> {{ partial "cards/talk" . }} </li>
        </ul>
      </div>

      {{ end }}
    </div>
  </div>
</div>
</div>