<div class="filtr-item" data-category='all'>
  <div class="card mt-1 ">
    <div class="row align-items-center">

      <div class="col-sm-4">
        <div class="d-flex col">
          {{ if .image }}
          <img class="card-img-top img-fluid" src="{{ .image }}" alt="{{ .name }}" />
          {{ end }}
        </div>
      </div>

      <!-- <div class="card-body text-justify pt-1 pb-1 col-sm-7"> -->
      <div class="col-sm-8">
        <div class="card-header">
          <h3 class="card-title">{{ .name }}</h3>
          <div class="my-card-authors">
            {{ .role }}

            <div class="my-card-sub-title">
              {{ .timeline }}
            </div>
          </div>
        </div>

        <div class="card-body">
          <p>{{ .summary | markdownify }}</p>
          <span class="float-right">
            {{ if .repo }}
            <a class="github-button-inactive" href="{{ .repo }}" data-icon="octicon-standard"
              data-show-count="true" aria-label="Star {{ .name }}">Star</a>
            {{ else if .url }}
            <a class="btn btn-outline-info btn-sm mb-2" href="{{ .url }}" target="#">
              Paper </a>
            {{ end }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 

<div class="filtr-item" data-category='all'>
  <div class="card mt-1">
    <div class="row align-items-center">


      <div class="col-sm-5">
        <div class="container">
          {{ if .image }}
          <img class="card-img" src="{{ .image }}" alt="{{ .name }} height=100%" />
          {{ end }}
        </div>
      </div>


      <div class="col-sm-7">
        <h5 class="">{{ .name }}</h5>
        <div class="">
          <span>{{ .role }}</span>
          <span>{{ .timeline }}</span>
        </div>
        <p>{{ .summary | markdownify }}</p>
        <span class="float-right">
          {{ if .repo }}
          <a class="github-button-inactive" href="{{ .repo }}" data-icon="octicon-standard"
            data-show-count="true" aria-label="Star {{ .name }}">Star</a>
          {{ else if .url }}
          <a class="btn btn-outline-info btn-sm mb-2" href="{{ .url }}" target="#">Details</a>
          {{ end }}
        </span>
      </div>


    </div>
  </div>
</div> -->